// colors

$bg: #F0F0F0;

$blue: #111B47;
$bg-blue: #37447E;

$color-main: #091133;
$color-base: #505F98;
$color-gray: #5D6970;
$color-lgray: #939EA4;
$color-blue: #6F7CB2;
$color-footer: #929ECC;


// sizes
$font-less: 14px;
$line-less: 24px;
$font: 16px;
$line: 26px;
$font-sm: 18px;
$line-sm: 30px;
$font-md: 36px;
$line-md: 48px;
$font-xl: 50px;
$line-xl: 66px;

// screens
$screen-sm:                                    479px;
$screen-md:                                    767px;
$screen-lg:                                    991px;
$screen-xl:                                    1279px;

// containers
$container-sm:                                 95%;
$container-md:                                 470px;
$container-lg:                                 760px;
$container-xl:                                 1024px;





